.gallery {
  width: 100%;
}

.search-container {
  display: block;
  text-align: center;
  margin-top: 2rem;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}

.search-input {
  width: 15rem;
  border-radius: 0.7rem;
}

.action-button {
  border-radius: 0.7rem;
  background-color: black;
  color: #fff;
  margin-left: 1rem;
  font-family: "Helvetica", "Arial", sans-serif;
}

.navigation-bar-list {
  display: flex;
  justify-content: space-between;
  background-color: #ffdad6;
  height: 3.5rem;
  align-items: center;
}

.my-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  margin-bottom: 0px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.5rem;
}

.navbar-link {
  color: black;
  margin-right: 1rem;
  margin-left: 0;
  border: 0;
  background-color: #fff;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.5rem;
}

.navbar-link:hover {
  color: black;
  text-decoration: none;
}

.noImgMsg {
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
  color: #ffdad6;
  border: solid;
}

.logo {
  width: 12rem;
  height: 4rem;
}

button.navbar-link {
  background: none;
  border: none;
  outline: none;
}
