.navigation-bar-list {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 3.5rem;
  align-items: center;
}

.logout {
  margin-right: 1rem;
}
.my-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}
.name {
  margin-left: 1rem;
  margin-bottom: 0px;
}

.navbar-link {
  color: black;
  margin-right: 1rem;
  border: 0;
  background-color: #fff;
}

.navbar-link:hover {
  color: black;
  text-decoration: none;
}

.form-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tag-input,
.caption-input {
  width: 40%;
  color: #474a48 !important;
}

.tag-input {
  align-self: center;
  margin-top: 0.7rem;
}

.inputfile-container {
  width: 40% !important;
  align-self: center;
}

.upload-title {
  color: #fff;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.upload-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.upload-btn {
  background-color: black;
  width: 10%;
  border-radius: 1rem;
  color: #fff;
  text-align: center;
  margin-top: 3rem;
  align-self: center;
}

.custom-file-label {
  text-align: left;
}

.form-container {
  display: block;
  text-align: center;
}

.caption-container {
  margin-top: 0.7rem;
}

.upload-error {
  color: red;
  text-align: center;
  margin-top: 3rem;
  font-size: 1.5rem;
}
